<footer>
  <div class="left">
    <ul>
      <div class="link-group">
        <li><a target="_blank" href="https://github.com/MisterMjir">GitHub</a></li>
        <li><a target="_blank" href="https://mistermjir.bandcamp.com/releases">Bandcamp</a></li>
        <li><a target="_blank" href="https://www.youtube.com/channel/UCBaPMFXtqfw1vLWpKN2TfEA">YouTube</a></li>
      </div>
    </ul>
    <ul>
      <div class="link-group">
        <li><a target="_blank" href="/rss.xml">RSS</a></li>
        <li><a target="_blank" href="/sitemap.xml">Sitemap</a></li>
      </div>
    </ul>
    <p class="copyright">&#169; Mister Mjir</p>
  </div>
  <div class="right">
    <a href="#body">To top</a>
  </div>
</footer>
