.album-wrapper {
  width: 60%;
  margin: 0 20%;
}

.song-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;

  .song-list-item {
    width: 300px;
    margin-right: 16px;
    margin-bottom: 16px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,.25);

    img {
      width: 300px;
      height: 300px;
      box-shadow: none;
    }

    &-meta {
      padding: 16px;

      h1 {
        margin: 0;
      }

      .externals {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
