html, body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Fustat";
  src:
    url("/assets/fonts/Fustat-VariableFont_wght.ttf");
}

body {
  padding: 0 20%;
  font-family: "Fustat", sans-serif;
  color: #ECEFCA;
}

@media all and (max-width: 800px) {
  body {
    padding: 0;
  }
}

.body-img {
  position: fixed;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  z-index: -1;

  background-position: center;
  background-size: cover;
  filter: blur(4px);
}

.body-content {
  background-color: #1B1B27;
  padding: 32px;
  margin: 0;
  /* 48px nav, 32px margin, 32px * 2 padding, 32px bottom margin */
  min-height: calc(100vh - 180px);
}

a {
  color: #8AABC7;
}