h1 {
    margin: 0;
}

.album {
    &-header {
        margin-bottom: 8px;

        h2 {
            margin-bottom: 4px;
        }

        span {
            font-style: italic;
        }
    }

    &-info {
        display: flex;

        img {
            display: block;
            width: 25%;
        }

        p {
            margin: 0;
            margin-left: 16px;
            padding: 0;
        }
    }
}